<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awesomeproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
        <!--android:name=".LockApplication"-->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <!--Auth0 Lock-->
        <activity
            android:name="com.auth0.lock.LockActivity"
            android:theme="@style/Lock.Theme"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="a0r7S3papUpoWEYpDzxxCjo9GbvUhR8Le8" android:host="nikolaseu-test.auth0.com"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.auth0.lock.client-id" android:value="@string/auth0_client_id"/>
        <meta-data android:name="com.auth0.lock.domain-url" android:value="@string/auth0_domain"/>
        <!--Auth0 Lock End-->

        <!--Auth0 Lock Embedded WebView-->
        <activity android:name="com.auth0.identity.web.WebViewActivity" android:theme="@style/Lock.Theme"/>
        <!--Auth0 Lock Embedded WebView End-->

        <!--Auth0 Lock Passwordless-->
        <activity
            android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
            android:theme="@style/Lock.Theme"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <!--<intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="@string/auth0_domain" android:pathPrefix="/android/com.auth0.app.Lock/email"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" />
                <data android:scheme="http" />
                <data android:host="@string/auth0_domain" android:pathPrefix="/android/com.auth0.app.Lock/sms"/>
            </intent-filter>-->
        </activity>
        <activity android:name="com.auth0.lock.passwordless.CountryCodeActivity" android:theme="@style/Lock.Theme"/>
        <!--Auth0 Lock Passwordless End-->

    </application>

</manifest>
